<header>
    <h1> Welcome to this tutorial of NgxPouchDb ! </h1>
    <button (click)="deleteDatabase()"> Delete database</button>
</header>

<main>
    <section id="availablePerson">
        <h1>Available Person</h1>
        <div *ngFor="let data of mockDatas">
            <span>{{ data | json }}</span>
            <button (click)="putData(data)">Add</button>
        </div>
    </section>

    <section id="listPerson">
        <h1>Person in database</h1>
        <div *ngFor="let data of listDatas">
            <span>{{ data | json }}</span>
            <button (click)="deleteData(data)">Remove</button>
        </div>
    </section>
</main>